[2017-08-31 09:59] aferrero2707 commented on #154
My apologizes! I messed up with the commits, and as a result the new version was still compiled with the `-mwindows` switch!

Today I made yet another package that should finally be OK (at least the `-mwindows` option did not show up in the g++ invocation). Could you grab it from [here](https://github.com/aferrero2707/PhotoFlow/releases/download/continuous/photoflow-w64-20170831-git-stable.zip)?

[2017-08-31 11:50] oleastre opened #158 "Gtk3 >= 3.20 theme issues"
I finally updated my PhotoFlow package to version 0.2.8 for fedora 26.
As fedora uses the latest gtk version I have problems with the current theme.

There are some missing backgrounds, ... see the attached screen shot.

![photoflow-theme](https://user-images.githubusercontent.com/838332/29921603-904c2430-8e52-11e7-8559-bf5187ebed70.jpg)

I had a look at rawtherapee sources, they have a specific t

[2017-08-31 12:25] aferrero2707 commented on #158
If you have a good solution for providing a decent dark theme that works across different GTK3 versions, I would really appreciate! The current GTK3 theme is, if I remember correctly, a slightly modified copy of RT's TooWaBlue, but I have no objections to change it if that would provide a better GTK3 integration.

Thanks! And happy to hear that 0.2.8 has landed in the Fedora world!

[2017-08-31 20:06] phweyland commented on #154
This time it is very verbose ! :-)
I send you the output because, as the for the first run the image did exist any more, Photoflow crashed.
I relaunched with an existing one, then it succeeded. Both runs are in the log file.

[Photoflow 20180831.txt](https://github.com/aferrero2707/PhotoFlow/files/1268336/Photoflow.20180831.txt)

[2017-09-01 09:44] phweyland commented on #154
Yes, the batch run did run on the foreground.

[2017-09-01 11:16] aferrero2707 commented on #154
So I'm closing this issue and opening a new one concerning the improvement of the behaviour when the input file is missing.

Thanks!

[2017-09-01 11:16] #154 closed

[2017-09-01 11:18] aferrero2707 opened #159 "Batch processing: improve behaviour when input files do not exist"
The batch processing should exit gracefully with a explicative error message when one of the input files is missing.

[2017-09-15 07:59] aferrero2707 opened #160 "Add windows application icon for exe file and version number in titlebar"
As the title says...

[2017-09-15 08:45] aferrero2707 opened #161 "Improve color samplers"
Few things that can be implemented to improve the usability of color samplers:

1. Indicate channel name and its range
2. Selection to toggle values among, e.g., RGB, CMYK and LAB
3. Ability to specify custom value range; e.g., 0-1, 0,255 and %s
4. Ability to select a region and get the average value

[2017-09-15 08:48] aferrero2707 opened #162 "Improvements ideas for spot WB tool"
It would be good if the spot wb tools could allow to select a region and compute the wb based on the average value.

The region could be defined by a path or a freehand drawing.

[2017-09-15 08:49] aferrero2707 opened #163 "Preview: show percentage of clipped shadows and highlights"
As the title says, it would be useful to show the percentage of clipped shadows and highlights pixels in the preview widget.

[2017-09-24 13:40] heckflosse opened #164 "CA_correct_RT.cc"
May I suggest to not use the Amaze header for [ca-correction source](https://github.com/aferrero2707/PhotoFlow/blob/stable/src/rt/rtengine/CA_correct_RT.cc)

Also, there is a newer, [faster version](https://github.com/Beep6581/RawTherapee/issues/4012#issuecomment-323349301) available.

[2017-09-24 13:47] aferrero2707 commented on #164
Thanks for pointing this out, most likely the mistake comes from some stupid copy-paste...

The header is now fixed in the stable branch.

I'm aware of the recent optimizations you introduced in the CA correction code, and it is definitely in my plans to port them into photoflow!

[2017-09-24 14:06] heckflosse commented on #164
Ok, thank you :+1:

[2017-09-24 14:06] #164 closed

[2017-10-11 13:53] mridul1618 opened #165 "Issue in color profile conversion in Ubuntu."
I am using Ubuntu 17.04. I downloaded the latest stable build of PhotoFlow (v0.2.8) and tried to follow thr process described here: [photoflow blogspot](http://photoflowblog.blogspot.in/2016/10/non-destructive-lab-editing-with-gimp.html). Nothing happens, I get a warning on terminal saying `ConvertColorspacePar::build(): missing embedded profile, returning input image`.

[2017-10-11 15:40] aferrero2707 commented on #165
I will try to reproduce the problem. I suspect that this is due to the use of the default sRGB profile in GIMP.

[2017-10-12 07:12] aferrero2707 opened #166 "Buggy G'MIC filters"
Some of the G'MIC filters are buggy:
a) Dream smoothing stops processing after a short while; i.e., no further output in console.
b) Tone mapping draws a small image on the top-left corner.

[2017-10-17 15:10] mridul1618 commented on #165
I used photoflow both directly from appimage and via gimp as filter; encountered the same problem both times.

[2017-11-24 17:53] aferrero2707 opened #167 "Automatically add .pfp extension to saved presets"
The .pfp extension should be automatically added to the preset filename if missing.

[2017-11-30 12:34] Fincer opened #168 "Horizontal/Vertical line tools"
Thank you for this awesome editor! Few features still missing but otherwise Photoflow is quite good for daily photo processing.

One feature I still miss is a horizontal/vertical line tools similar to one included in Adobe Camera Raw editor (Hugin may have such tools, too). Have you considered adding these tools into Photoflow editor? I do a lot landscape photographing in which horizontal straight

[2017-12-01 21:16] aferrero2707 commented on #168
Hi! Thanks for your suggestions!

What you propose for the image rotation tool is actually already existing, but was broken in recent versions of the code... now it is fixed in the stable branch.

In order to initiate the mouse-assisted rotation, you have to select the scale/rotate layer and click twice in the preview to define the line that should end-up horizontal. Once the two points are define

[2017-12-02 22:04] aferrero2707 commented on #165
Could you try with the latest version, making sure that you select "embedded (sRGB)" as the input profile of the image loader layer? That should cure the missing profile issue.

[2017-12-04 07:14] mridul1618 commented on #165
Thank you for the response. I'd see if it works with the latest version and inform here if the problem persists.

[2017-12-04 11:58] Fincer commented on #168
Hi!

Sorry for bit delayed answer.

I should have taken a closer look on the tools already implemented in the program. Mouse-assisted rotation & perspective correction tool are exactly the features I was looking for! No more complaints or whatsoever!

Thanks again!

[2017-12-04 13:21] #168 closed

[2017-12-04 13:25] Fincer opened #169 "[Linux] Can't compile with the latest system Exiv2"
As the title states, building process of Photoflow with latest system Exiv2 crashes to trivial error about missing file `exiv2/xmp.hpp`. I am using the following patch to circumvent the issue:

[code]
I'm using Arch Linux with exiv2-git (version `r5320.4c4f91e4`)

[2017-12-04 13:31] aferrero2707 commented on #169
Thanks for discovering this. Could you please check if the code still compiles if you remove all lines between
`#include <exiv2/easyaccess.hpp>`
and
`#include <exiv2/image.hpp>`
include, leaving only
`#include <exiv2/exif.hpp>`?

I think that the main EXIV2 header file already takes care of those additional includes...

[2017-12-04 14:23] Fincer commented on #169
I ran various tests, and the program compiles with the following patch:

[code]
Removing either `#include <exiv2/image.hpp>` or  `#include <exiv2/easyaccess.hpp>` leads to failures in building process.

[2017-12-04 17:22] aferrero2707 commented on #168
No need to apologise! The documentation is still almost completely lacking, so I'm not surprised you didn't find the proper tools. Anyway, I'm glad that you found what you were looking for, and do not hesitate to provide feedback and suggestions.

[2017-12-04 17:25] aferrero2707 commented on #169
I think I found my mistake... what if you only put
`#include <exiv2/exiv2.hpp>`?

The main header file should include all required .hpp files...

[2017-12-04 17:51] Fincer commented on #169
Yeah, it works (Photoflow compiles & runs).
[code]

[2017-12-04 18:07] aferrero2707 commented on #169
Great! I will make this modification in the stable branch.

[2017-12-04 18:07] #169 closed

[2017-12-04 20:03] Fincer opened #170 "Crash while using hot pixels filter"
**Issue**

Photoflow (git version) crashes while trying to apply hot pixels filter into the sample image file provided below. The program freezes before crash. Terminal output below. I did not apply any other effects etc. before crashing.

**Short terminal output**
[code]
Sample file here: [IMG_7437.CR2](https://www.dropbox.com/s/sa0qjar3p5267hz/IMG_7437.CR2?dl=1)

Using Arch Linux x86_64

[2017-12-13 09:58] aferrero2707 commented on #170
Sorry for the late answer... I have tried to reproduce the crash, but I couldn't. I have also run the code through valgrind and could not detect any memory errors.

Are you compiling the code from sources? If yes, could you compile with `-DCMAKE_BUILD_TYPE=RelWithDebInfo` and run photoflow through `valgrind --tool=memcheck` to get an idea of where the error occurs?

More on valgrind [here](http://

[2017-12-20 19:57] Fincer commented on #170
Yes I've compiled from the GIT source. Couldn't reproduce the issue with Valgrind (`valgrind --tool=memcheck photoflow`). However, the program still crashes with regular run.

With valgrind, hot pixels could successfully be removed without crash (status changed from caching -> ready). With regular run, the program crashes.

Normal terminal output, with crash. Part of the runtime log:

[code]

[2017-12-20 20:06] Fincer commented on #170
Here is `valgrind --tool=memcheck photoflow` output log (sorry about missing extension):

[Valgrind photoflow log - DropBox](https://www.dropbox.com/s/5jek8964xhvwezd/photoflow-check?dl=1)

[2017-12-21 16:00] Robndrwrth opened #171 "Highlight recovery"
I have noticed a problem when recovering highlights using the latest version (osx-20171215_1252-git-stable-5fb36718dd79d181c5cabfd8f99f7) but also checked with the 2 Dec version and that also had the problem. When I select blending and put in negative exposure compensation, initially whilst 'caching' (amber indicator) the highlight recovery looks what I would expect but when it goes to 'ready' the

[2017-12-21 20:34] aferrero2707 commented on #171
Thanks, I will have a look at this as soon as possible, but probably only right after the Christmas vacations... I will post my progresses here as soon as I have something new.

Thanks!

[2017-12-21 20:36] Robndrwrth commented on #171
No rush, have a good holiday.

Merry Christmas

[2017-12-21 20:38] aferrero2707 commented on #171
The "clip" mode seems to work properly:

<img width="1280" alt="screen shot 2017-12-21 at 21 39 08" src="https://user-images.githubusercontent.com/6229237/34274048-4199cfc0-e697-11e7-87f2-a0f53b82947a.png">

[2017-12-21 20:46] Robndrwrth commented on #171
Yes, I have no problems with the clip mode only blend which I used to try to recover some of the lost cloud detail. Previously I have occasionally used this successfully but I’m not sure at which version it stopped working well. As stated in the issue report the image shown during caching looks quite good with lots of recovered cloud but then this turns green when ‘ready’.

Thanks again.

[2017-12-21 20:51] aferrero2707 commented on #171
If you still have a version packages before the 24th of November, it should still provide a working "blend" mode.

[2017-12-21 20:53] Robndrwrth commented on #171
Thanks I’ll try that.

[2017-12-21 21:10] Robndrwrth commented on #171
Just tried the ‘linear gamma' version from 24 Nov, this works fine for the ‘blend’ mode but has the problem of not correctly dealing with LAB directly in the RAW developer. This is not a problem as I can convert to RGB initially and then convert to LAB if needed. I know this works from earlier use.

I also tried the earlier stable version from 2 Oct but that does not get on with High Sierra. It di

[2017-12-22 08:34] aferrero2707 commented on #171
I think I found the issue, and was easy to fix... you should get an updated OSX package in one hour or so. Could you check if HL recovery works correctly again for you?

Thanks!

[2017-12-22 10:37] Robndrwrth commented on #171
Just checked the updated package and the HL recovery is ok. Thanks for all your work. Have a good holiday!

[2017-12-22 10:38] #171 closed

[2017-12-22 10:38] aferrero2707 commented on #171
Thanks, nice holidays to you as well!

[2018-01-20 18:19] phweyland opened #172 "Crash on window (photoflow-w64-20171124_1400) using refined_usm.pfp"
I've tried the preset [refined_usm.pfp](https://filebin.net/jy2ghwqmns2ukytd) you have provided here:
https://discuss.pixls.us/t/refined-unsharp-masking-for-local-contrast/6436/2
with the last windows version (photoflow-w64-20171124_1400)
and I get the message : Photoflow.exe has stopped working

[2018-01-23 10:19] Joermungand opened #173 "Arch Linux: crash opening CR2 files"
Photoflow crashes (segfaults) when opening CR2 files. I’ve managed to trace the regression down to commit 30bc9c5b2b4a567a307b92816864f831084e9e26 on January 9th.
Please let me know what logs you need added.

[2018-01-23 11:20] aferrero2707 commented on #173
I will first try to reproduce the issue with CR2 files I have, and eventually will ask for an example of failing RAW file if I do not see the crash...

Thanks!

[2018-01-23 15:15] aferrero2707 commented on #173
Would you be able to compile photoflow with `-DCMAKE_BUILD_TYPE=RelWithDebInfo` cmake flag, run the program through `gdb` and provide me the full backtrace of the crash?

Also, could you provide me an example of failing CR2 file? I tried with few that I have, and I could never observe any crash...

Thanks!

[2018-01-23 16:08] Joermungand commented on #173
Sure, right away. It’ll take a while to compile, though. Meanwhile, an example it crashes with is right [here](https://www.dropbox.com/s/m4r0yawuw52z719/IMG_3602.CR2?dl=0).

[2018-01-23 17:14] Joermungand commented on #173
Here’s the backtrace. Hope it’s useful.
[bt-full.log](https://github.com/aferrero2707/PhotoFlow/files/1656916/bt-full.log)

[2018-01-23 18:13] aferrero2707 commented on #173
Could you tell me the version of VIPS (or libvips) that is installed on your system? It might be some bug in VIPS itself...

[2018-01-23 18:18] Joermungand commented on #173
VIPS is currently at 8.6.1. As a matter of fact the crash occurred the same day as VIPS was updated from 8.5.9 – however, I doubt this should be the case, since I also tried downgrading VIPS to 8.5.9 and the result was exactly the same: no crash with Photoflow prior to that commit, crash from then on.

[2018-01-23 19:41] aferrero2707 commented on #173
Interesting... in any case, the culprit seems to be the `vips_image_remove()` function, so I will dig into it.

[2018-01-23 21:07] aferrero2707 commented on #173
I have just committed some additional diagnostics and, hopefully, a fix. Could you please update your sources and try again?

If it still fails, I would need the full terminal output after the crash...

Thanks!

[2018-01-23 21:11] Joermungand commented on #173
Yeah, looks like that to me. Please let me know if I can help in any way.

[2018-01-23 21:11] Joermungand commented on #173
On it.

[2018-01-23 21:54] Joermungand commented on #173
Crashed again. Here’s the complete log: [crash.log](https://github.com/aferrero2707/PhotoFlow/files/1657733/crash.log). Please let me know if you need the gdb backtrace.

[2018-01-23 21:56] aferrero2707 commented on #173
Yes, please!

[2018-01-23 22:05] Joermungand commented on #173
OK. Here’s the gdb log: [bt-full.log](https://github.com/aferrero2707/PhotoFlow/files/1657767/bt-full.log).
And here’s the terminal output of running gdb: [gdb-output.log](https://github.com/aferrero2707/PhotoFlow/files/1657769/gdb-output.log).

[2018-01-23 22:17] aferrero2707 commented on #173
Thanks! I have hopefully finally found the mistake: the use of a deleted image (`out`) [here](https://github.com/aferrero2707/PhotoFlow/blob/stable/src/base/imagepyramid.cc#L360).

Please update again, and cross fingers...

[2018-01-23 22:21] Joermungand commented on #173
That would explain it. Updating.

[2018-01-23 23:06] Joermungand commented on #173
Yap. It looks like that was the culprit. Working fine now. Thanks a lot.

[2018-01-24 08:21] aferrero2707 commented on #173
Good job, thanks a lot!

I'm closing the issue.

[2018-01-24 08:21] #173 closed

[2018-01-30 12:27] salvadhor opened #174 "i386 build"
I've revived PhotoFlow autobuild on Launchpad lately (PPA for Ubuntu/Mint). Unfortunately, i386 build fails with:

/Cr2Decompressor.cpp.o -c /<<BUILDDIR>>/photoflow-git-2.9+git20180129/src/external/rawspeed/src/librawspeed/decompressors/Cr2Decompressor.cpp
In file included from /<<BUILDDIR>>/photoflow-git-2.9+git20180129/src/external/rawspeed/src/librawspeed/decoders/RawDecoderException.h:24:0,

[2018-03-06 22:51] jtojnar opened #175 "Allow disabling all bundled libraries"
Could you add an option for disabling the rest of the bundled libraries? At least `BUNDLED_RAWSPEED` or even `BUNDLED_ALL`

[2018-03-06 23:58] jtojnar commented on #158
Why force a custom theme? It looks reasonable with GTK built-in dark default theme.

![screenshot from 2018-03-07 00-56-55](https://user-images.githubusercontent.com/705123/37065760-821b907e-21a2-11e8-9049-c1d66e6d0110.png)

[2018-03-07 14:50] aferrero2707 commented on #175
In the current `stable` branch all bundled libraries are optional, and disable by default. The only exception is RawSpeed, for two good reasons:
* it is not provided as a separate package in most Linux distributions
* the list of supported RAW files is considered part of the specific characteristics of a given release, and is not supposed to change from one system to another. That's the main reaso

[2018-06-24 22:24] waxfingers opened #176 "Regarding crop and scale & rotate tools"
Misc feedback, suggestions and ideas regarding PhotoFlow's crop and scale & rotate tools

### For both the crop and scale & rotate tool

they should be simple, intuitive and work
If there's an optimized place in the stack for them it would help being documented or a tip or something of the sorts... in such a case they could even be locked to that (hypothetical) optimized place

### Rotate & Scale

[2018-07-14 13:43] phweyland commented on #153
Just checked the issue is still opened:
![image](https://user-images.githubusercontent.com/23012047/42724935-ec940e08-8751-11e8-92bf-b8d8b0a7de47.png)
PF freezes and I get this on the cmd window:
[code]

[2018-07-14 13:55] phweyland commented on #143
With the current version (20180625) I can open five 6000x4000 large images without crash. Great improvement !

[2018-11-08 02:05] waxfingers opened #177 "non-starting photoflow-osx-20181107_1248-git-stable-a32ba26625ffabbbae38429145bd25d0cfad9898"
Hey Doctor Ceeto, **latest macos phf does NOT start.**
The CL works fine, very nice addition BTW
you were right about scale algo 👍

Mojave 10.14.1
photoflow-osx-20181107_1248-git-stable-a32ba26625ffabbbae38429145bd25d0cfad9898

[crash_photoflow-osx-20181107_1248-git-stable-a32ba26625ffabbbae38429145bd25d0cfad9898.txt](https://github.com/aferrero2707/PhotoFlow/files/2559994/crash_photoflow-osx-2018

[2018-11-08 15:35] aferrero2707 commented on #177
Issue solved with commit fbd1fd779dbabe1b3f787e1fb535be86215c0094.
Closing.

[2018-11-08 15:35] #177 closed

[2018-11-20 11:02] phweyland commented on #153
Hi, on the last window build the error is still there. No hope to fix that ?
Thanks
Philippe

[2018-11-20 11:33] phweyland opened #178 "Log message - Windows 10 - PF 20181118"
Browsing for opening file I see a bunch of this message:

`(photoflow.exe:1840): GLib-GIO-CRITICAL **: 12:31:07.109: g_content_type_is_a: assertion 'type != NULL' failed`

[2018-11-20 22:10] aferrero2707 commented on #178
This seems to be related to language settings: https://github.com/Alexpux/MINGW-packages/issues/3618

Does the folders contain file names with special characters? I still need to figure out why this is a problem under Windows, but not under Linux or MacOS...

[2018-11-21 19:57] phweyland commented on #178
Yes, this is same log message as on Alexpux/MINGW-packages#3618. That happens while browsing file, which is done successfully except for folders with special character which do not appear. Files with special characters do appear.
However opening a file with special character fails. I've commented the issue #153 yesterday ...
Let me know if I can do anything to help to solve this. :-)

[2018-11-22 19:49] phweyland commented on #178
As a temporary work around is there a way to disable the console messages (the more I have files in the folder, the longer I've to wait :-) ) ?

[2018-11-23 11:47] aferrero2707 commented on #153
I still cannot reproduce this problem on non-Windows systems, so I have to proceed a bit blindly until I get my hands on a Windows machine. However I have some suspicion, and I will double check how the file names are transferred from the GTK file dialog to the application...

Sorry for taking so long, but the Windows-specific bugs are always more painful to investigate.

[2018-11-23 17:01] phweyland commented on #153
I understand. I've learned to build dt on darktable (thanks to the windows build.txt document). If that could help I can try to build pf as well. If I succeed I could make some tests under your direction...

[2018-11-28 11:08] aferrero2707 commented on #153
I have finally managed to prepare a new Windows package, with an hopefully better handling of the non-ASCII characters in input file names. If this will still not work, it should at least provide better diagnostic messages in the terminal, so please provide the full terminal output in case the problem persists...

Here is the direct link: https://github.com/aferrero2707/PhotoFlow/releases/download

[2018-11-28 17:08] phweyland commented on #153
Thanks for the update.
The image doesn't open and the terminal content is the following.
Do you me to run under gdb ?

[]
(photoflow.exe:11392): GLib-GIO-CRITICAL **: 18:03:15.451: g_content_type_is_a: assertion 'type != NULL' failed
(photoflow.exe:11392): GLib-GIO-CRITICAL **: 18:03:15.453: g_content_type_is_a: assertion 'type != NULL' failed
(photoflow.exe:11392): GLib-GIO-CRITICAL **: 18:03:15.

[2018-11-30 18:42] aferrero2707 commented on #153
@phweyland
I just want to let you know that I am working on this issue, and I did at least some progress. Unfortunately there is not much you can do to help me, unless you have a clear idea of how to translate a `Glib::ustring` into a `std::string` so that it is correctly read by `rawspeed::FileReader`...

[2018-11-30 21:03] phweyland commented on #153
Thanks a lot for looking at this.
Unfortunately I haven't any idea (even not clear) about the way to make this translation.
dt uses also rawspeed FileReader (like in dt_imageio_open_rawspeed) ...

[2018-12-01 03:04] briend opened #179 "Crash on MacOS: Symbol not found: _inflateValidate"
Crash on launch.  Tried two Macbook Pros.  One on MacOS Mojave 10.14.0, one on 10.14.1

PhotoFlow Version 0.2.8 from DMG release

Process:               photoflow-bin [562]
Path:                  /Applications/photoflow.app/Contents/MacOS/photoflow
Identifier:            uk.ac.soton.ecs.vips
Version:               ???
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsibl

[2018-12-01 15:59] aferrero2707 commented on #179
It looks like I should either bundle a private version of libpng, or remove libz from the bundle...

While I work on a proper fix, could you try renaming libz and the re-run photoflow?

[code]

Thanks!

[2018-12-02 04:01] briend commented on #179
removing libz.1.dylib fixes the crash!  Thanks!

[2018-12-05 14:13] aferrero2707 commented on #153
@phweyland
I have finally made some progress on this issue. The latest Win64 version should be able to correctly open RAW files with non-ASCII characters. However, saving the work has a .pfi file still results in a corrupted file.

While I improve the situation, could you try to see if opening non-standard RAW files works for you as well?

Thanks!

[2018-12-07 19:38] ni-code opened #180 "Missing typography glyphs."
Appimage 0.2.8 downloaded from git.
OS: solus linux.

I was trying photoflow with the appimage provided, but it seems that there's a problem with the font-face. All I get is the missing character glyph.

![screenshot from 2018-12-07 19-31-16](https://user-images.githubusercontent.com/10292929/49668915-811c1480-fa57-11e8-8d51-eb3e68d80afd.png)

[2018-12-08 09:35] aferrero2707 commented on #180
Could you please try the stable development builds from here: https://github.com/aferrero2707/PhotoFlow/releases/tag/continuous

The most recent one is https://github.com/aferrero2707/PhotoFlow/releases/download/continuous/PhotoFlow-git-stable-20181208_0856-26c2bc3a91877400de859d29e42599ff773a7281-x86_64.AppImage

[2018-12-09 16:31] ni-code commented on #180
@aferrero2707, I tried the version you linked, and it works fine. Thanks.

[2018-12-10 15:23] aferrero2707 commented on #180
Great! I'm closing this, feel free to re-open in case you encounter the same problem in recent development versions.

[2018-12-10 15:23] #180 closed

[2018-12-14 18:14] phweyland opened #181 "Crash when selecting input source in a mask layer"
Wanted to reuse the mask of the previous local contrast, invert it and set up a new local contrast
![image](https://user-images.githubusercontent.com/23012047/50019418-e2516400-ffd2-11e8-88b0-6c3cc264a9bd.png)

When I tick show mask, no mask appears.
When I untick show mask pf crashes.

I've run gdb, the behaviour is a bit different. Doesn't crash on untick show mask, but does when untick invert m

[2018-12-14 21:00] phweyland commented on #181
This one is crashing when I open the pfi without gdb.

With gdb the file opens, but pf crashes when I uncheck show mask.
![image](https://user-images.githubusercontent.com/23012047/50027147-8941fa00-ffeb-11e8-9af7-f5d9d108cf1f.png)

[PhotoFlow-02.txt](https://github.com/aferrero2707/PhotoFlow/files/2681680/PhotoFlow-02.txt)

[20181105_Agde_069.jpg.pfi.txt](https://github.com/aferrero2707/PhotoFlow

[2018-12-16 06:48] phweyland commented on #181
I've added the clone layer, set the "mask  sky" as input source, and set on "mask sea" the previous layer as input source.
When I check show mask nothing appears. But crashes when uncheck (I think it crashed on the second time I unchecked ....)

![image](https://user-images.githubusercontent.com/23012047/50050828-47f23d00-0106-11e9-8fe8-a548b21ff67b.png)
[PhotoFlow-03.txt](https://github.com/aferr

[2018-12-16 13:01] phweyland commented on #181
Great ! with clone layer that works ! :-) Thank you
However I had to delete the topmost contrast layer and build it following your method.
Maybe there was something wrong in my pfi. When I opened it the clone layer did appear on top. I've moved it on the bottom, but each time I leave and come back to mask view, the clone layer was back on top... like this:
![image](https://user-images.githubuserco

[2018-12-16 13:16] aferrero2707 commented on #181
I'm currently fixing the problem with the input source selection for mask layers... hopefully your initial idea will be working properly in a short while. Will let you know here before closing the issue.

[2018-12-16 15:01] phweyland commented on #181
Thanks so much.
I don't know if that's related but opening this pfi is endless (seems to process several times).
In any case it's much faster to disable the group and each component, then enable the group and components one by one (I can share the raw if needed).
[20181105_Agde_069.jpg.pfi.txt](https://github.com/aferrero2707/PhotoFlow/files/2683651/20181105_Agde_069.jpg.pfi.txt)

[2018-12-17 19:38] aferrero2707 commented on #181
@phweyland bilateral blur is definitely not optimized, and in fact I am replacing it with the "guided filter" for RawTherapee. According to the literature, it provides better transitions between smooth areas and sharp edges, and moreover is is significantly faster...

The new "local contrast" tool is actually based on the guided filter.

[2018-12-17 20:04] aferrero2707 commented on #181
@phweyland I have just committed a fix of your initial issue (crash when selecting an input source for the invert tool). Pre-compiled packages should be available in less than one hour... could you please check if the new code works correctly for you as well?

Thanks!

[2018-12-18 05:44] phweyland commented on #181
Yes, I can now set a previous mask in "invert layer" different than a "clone layer" without trouble when I enable/disable show mask.
Thanks!

[2018-12-18 08:37] aferrero2707 commented on #181
Closing issue, fixed with 94b681ba0cc4afa26a56eb57fc3b8bbed475456f.

[2018-12-18 08:37] #181 closed

[2018-12-31 14:13] phweyland opened #182 "Crash when unselect layer with mask."
Hi Andrea,
I think this is related #181. Using this pfi,
[20181105_Agde_069.jpg.pfi.txt](https://github.com/aferrero2707/PhotoFlow/files/2718440/20181105_Agde_069.jpg.pfi.txt)
if you uncheck "local c cloud" pf crashes.

[2019-01-12 09:59] phweyland commented on #182
Corresponding backtrace:
[PhotoFlow-04.txt](https://github.com/aferrero2707/PhotoFlow/files/2751887/PhotoFlow-04.txt)

[2019-01-13 20:09] phweyland opened #183 "PF crashes when monitor color profile doesn't exist any more"
After having moved the corresponding folder pf started to crash when open whatever file type.
Backtrace:
[PhotoFlow-05.txt](https://github.com/aferrero2707/PhotoFlow/files/2753477/PhotoFlow-05.txt)

[2019-01-15 17:50] aferrero2707 commented on #183
Thanks! I must introduce a safe fallback and a warning message in this case... meanwhile, you should be able to fix the situation by manually editing the PhF configuration file and remove the line that contains the missing monitor profile...

The config file under windows can be found in
[code]

[2019-01-15 18:02] phweyland commented on #183
Good to know !
I've just redefined the monitor profile in preference before opening an image and that did work.

[2019-01-15 23:02] gadolf66 opened #184 "PF hangs while trying to delete tone mapping layer"
I duplicated a tone mapping layer, made some adjustments and then tried to delete it.
I looked into the pfi file and the duplicated layer seems to have gone, but PF is hanging with CPU constantly around 30%.
PhotoFlow-git-stable-20190111_2204-907a4f1c4772c9a8549a448dc01cc2a3760c77fb-x86_64
Ubuntu 18.04
i3 / 12 GB ram

[20181109_Cahuzeres_221.zip](https://github.com/aferrero2707/PhotoFlow/files/276

[2019-01-19 20:29] phweyland opened #185 "Black tiles on the image"
I see this sometimes but with this image and applying 3D LUT I get somes black tiles.
When I resize the windows the tiles change but remain.

![image](https://user-images.githubusercontent.com/23012047/51431991-143c9280-1c31-11e9-8dc7-51c9a66ef338.png)

Let me know if I can something to provide more information.

[2019-01-23 17:44] aferrero2707 commented on #185
Could you provide me the .pfi file and the LUT?

Thanks!

[2019-01-23 17:46] aferrero2707 commented on #184
I also see hangs/crashes sometime when deleting layers, there is somewhere a nasty bug that I could not catch yet.

Is the hanging reproducible in your case?

[2019-01-23 22:52] phweyland commented on #185
I think I've got it. moving the exposure slider up in raw developer, the tiles appear.
![image](https://user-images.githubusercontent.com/23012047/51642337-2ee07580-1f69-11e9-9f43-f4a69b4c830c.png)

[20181105_Agde_005.pfi.txt](https://github.com/aferrero2707/PhotoFlow/files/2789489/20181105_Agde_005.pfi.txt)
[LC3DL_Fuji3510_log2hd_ConstLclip.cube.txt](https://github.com/aferrero2707/PhotoFlow/file

[2019-01-24 08:45] aferrero2707 commented on #185
Then it might be that the LUT module does not handle out-of-bounds values correctly...

Could you try to insert a "clip values" layer (it is found in the colors tab) just before the LUT, and make sure that bot negative and >1 values are clipped?

[2019-01-24 17:08] phweyland commented on #185
Not enough I'm afraid

![image](https://user-images.githubusercontent.com/23012047/51695178-b29a7080-2002-11e9-99a6-466dc49dbd6a.png)

But is it normal to clipped highlights after clip values layer ?

![image](https://user-images.githubusercontent.com/23012047/51695252-dcec2e00-2002-11e9-81f9-5b4e028789ca.png)

[2019-02-02 10:10] gadolf66 commented on #184
I will close this issue because it doesn't has to do with the tone mapping layer, but with any layer that has a mask that points to a layer that was later deleted.

[2019-02-02 10:10] #184 closed

[2019-02-17 17:11] aferrero2707 commented on #183
Should be fixed by 3795f6976c61edc78a793e39251e375623731a9e
The program now pops up an information dialog that warns the user that the display profile cannot be found, and then falls back to sRGB.

Could you please check and confirm before I close the issue?

Thanks!

[2019-02-18 09:08] phweyland commented on #183
Made a try but was unsuccessful. Here is the backtrace:
[photoflow_bt.txt](https://github.com/aferrero2707/PhotoFlow/files/2874775/photoflow_bt.txt)

[2019-02-18 18:58] aferrero2707 commented on #183
@phweyland I just realized that there was a problem when building the Win64 package, so you likely tested and older version of the code. The win64 package corresponding to the git head is now available: https://github.com/aferrero2707/PhotoFlow/releases/download/continuous/photoflow-w64-20190218_1830-git-stable-5f101bf82b3d506e5acee73ca40a5af186a0151e.zip

Sorry for that!

[2019-02-19 18:51] phweyland commented on #183
Good !
![image](https://user-images.githubusercontent.com/23012047/53039534-ae396a00-347f-11e9-8c62-0e2df42b6bd9.png)

[2019-02-20 08:35] aferrero2707 commented on #183
Great! Then I will close this one.

Thanks for the feedback!

[2019-02-20 08:35] #183 closed

[2019-02-21 16:01] flord opened #186 "OpenEXR support"
It would be great if PhotoFlow could export images as OpenExr, with pixels brighter than diffuse white having values above 1.0.
Currently, when we export in tiff 32bit float, the entire dynamic range is compressed between 0.0 and 1.0, making the image very dark.
The OpenExr spec defines than an object reflecting 18% of light, exposed correctly, will have a pixel value of 0.18. So very bright pixel

[2019-03-05 10:53] aferrero2707 commented on #186
I have opened an issue [here](https://github.com/libvips/libvips/issues/1246) to ask for EXR write support.

However, in PhF the 32-bit floating point TIFF output does not restrict the output range to [0, 1]. Here is an example of your DNG file opened in PhF, saved with a +1EV exposure adjustment: https://filebin.net/zejisryd19wbjxq3
The folder contains both the TIFF file and the .pfi file used to

[2019-03-31 15:42] alcomposer opened #187 "Antergos build_all.sh fails"
Build all fails with errors:

[code]

[2019-04-12 13:49] aferrero2707 commented on #187
@alcomposer could you post the full cmake and make logs? I would like to check how LibVIPS is detected on your system.

Thanks!

[2019-04-12 14:49] AlexMitchellMus commented on #187
[build_log.txt](https://github.com/aferrero2707/PhotoFlow/files/3073823/build_log.txt)

[2019-04-12 17:42] aferrero2707 commented on #187
I have updated the build scripts to download a specific VIPS version (v8.7.4 at the moment), instead of the git HEAD. This version works fine on my system.

Could you please try re-running the build script like this?
[code]

[2019-04-12 19:34] AlexMitchellMus commented on #187
Hmm, VIPS is now fine, but now rawspeed isn't happy! :-(
[code]

[build_log.txt](https://github.com/aferrero2707/PhotoFlow/files/3074902/build_log.txt)

[2019-04-12 19:41] aferrero2707 commented on #187
It seems that the RawSpeed library version in the master branch does not play well with recent compilers... could you try building the `stable` branch instead?

In any case, the stable branch is currently very much ahead of master, and I am trying to plan a new release in the not so far future. So I suggest to stick to the stable development branch to get the latest code (and in particular the OCI

[2019-04-12 19:54] AlexMitchellMus commented on #187
hmmm Just built with `stable` and get the same error.

`RawImageData::poisonPadding()` etc

[2019-04-12 19:58] aferrero2707 commented on #187
That's strange... the implementation of the `poisonPadding()` function in the stable branch is [here](https://github.com/aferrero2707/PhotoFlow/blob/stable/src/external/rawspeed/src/librawspeed/common/RawImage.cpp#L144), and does not contain any `__attribute__((const))` statement.

Are you sure your local git repository was correctly switched to the stable branch?

[2019-04-12 20:01] AlexMitchellMus commented on #187
`git checkout stable`

`git branch` returns:
[code]

[2019-04-12 20:04] aferrero2707 commented on #187
I think you need to also do a
[code]
to update your local copy.

[2019-04-12 20:19] AlexMitchellMus commented on #187
Ok, started again, did:

`git checkout stable`
Output of `git pull origin stable` is:
[code]
Get similar errors to original issue when building.

[build_all_log.txt](https://github.com/aferrero2707/PhotoFlow/files/3075034/build_all_log.txt)

[2019-04-12 20:25] aferrero2707 commented on #187
Looks like the stderr is missing from your last build log... I can see that the compilation has failed, but not the error messages.

I am trying to build the AppImage with the same VIPS version, to see if I can reproduce the compilation issue (the code compiles fine on macOS).

[2019-04-12 20:41] AlexMitchellMus commented on #187
Build with: `./build_all.sh |& tee output_log.txt` :-/
[build_log_stderr_stdout.txt](https://github.com/aferrero2707/PhotoFlow/files/3075112/build_log_stderr_stdout.txt)

[2019-04-12 21:49] aferrero2707 commented on #187
I was able to reproduce the issue with the AppImage build scripts.

I downgraded the VIPS version installed by build_all.sh to 8.5.9, which is the same as used for the AppImages. Could you do a `git pull origin stable` and recompile?

As before, please use
[code]

Meanwhile I will adapt the code to be compatible with the most recent VIPS versions...

Thanks!

[2019-04-13 06:59] AlexMitchellMus commented on #187
Yup this resolved the issue. Thanks!

[2019-04-13 06:59] #187 closed

[2019-06-09 06:21] yurivict opened #189 "Please fix clang warnings"
clang-8 prints these and other warnings:
[code]

[2019-06-09 06:31] yurivict opened #190 "error: undefined symbol: PF::version_string"
Link fails on FreeBSD:
[code]

[2019-06-09 07:58] yurivict opened #191 "DIsables OpenMP for no obvious reason"
It finds OpenMP and then says that it is disabled, and doesn't say why:
[code]

[2019-06-10 09:42] aferrero2707 commented on #190
Could you please provide me the whole cmake and make logs? Thanks!

[2019-06-10 09:54] yurivict commented on #190
This patch solved the problem:
[code]

You didn't add ```version.cc``` to build commands.

[2019-06-10 09:59] aferrero2707 commented on #190
`version.cc` is included at either lines 222 or 224 in `src/CMakeLists.txt`, but something seems to go wrong on FreeBSD... that's why I am interested in the cmake log, and possibly also the cmake parameters you are using.

[2019-06-10 18:56] aferrero2707 commented on #189
All those warnings (and several additional ones) should be fixed in current stable branch.

Thanks for the heads up!

[2019-06-10 18:57] aferrero2707 commented on #191
PhotoFlow uses explicit multi-threading, therefore OpenMP is redundant.

[2019-06-13 03:58] yurivict opened #192 "Build fails on i386: result of comparison 'size_t' (aka 'unsigned int') > 4294967295 is always false"
[code]

See the log: http://beefy5.nyi.freebsd.org/data/120i386-default/504051/logs/photoflow-0.2.8.1260_1.log

[2019-06-15 08:18] aferrero2707 commented on #192
Honestly I do not know if RawSpeed is expected to compile correctly on 32 bit architectures... I will ask the developers about this.

[2019-06-16 08:48] #72 closed

[2019-07-14 16:29] gadolf66 opened #193 "Relight: caching takes forever"
After some edits, caching does not stop, and prevents exporting the image. Eventually, after around some 10 minutes, caching stops and the export takes place.
While caching, I can continue editing, adding new modules or change the settings in already existent ones.
Version: HEAD-ab342
OS: Ubuntu 18.04
Computer: Dell Inspiron N4050 (Intel i3)
Embbeded graphics card: 00:02.0 VGA compatible controlle

[2019-07-14 17:20] gadolf66 commented on #193
Apparently, the culprit seems to be the relight module: after I add it, it begins caching in the pattern described above. If I delete it, caching quickly stops and the cpu gets to its normal usage.
Added "Relight" to the issue title

[2019-08-15 11:07] dustinkerstein opened #194 "CMake FindPackageHandleStandardArgs compile issue on OSX"
I'm trying to compile PhotoFlow in the `linear_gamma` branch on OSX and am running into this error:

[code]

Have you seen this before? Let me know if you have any ideas on how to get past it. Thanks!

[2019-08-31 19:45] luzpaz opened #195 "Create a homebrew-cask formula for photoflow"
Homebrew - The missing package manager for macOS (or Linux)
has a [homebrew-cask](https://github.com/Homebrew/homebrew-cask) option. This is a "A CLI workflow for the administration of macOS applications distributed as binaries."

For more exposure it would be an idea to create a formula for the photoflow DMG.

[2019-09-02 13:29] aferrero2707 commented on #190
@yurivict are there any news? Could you provide me the cmake log and the cmake invocation parameters you are using?

Thanks!

[2019-09-06 08:39] jounih opened #196 "0.2.8 crashes on mac on startup"
On MacOS 10.14.5 I get this:

Process:               photoflow-bin [5522]
Path:                  /Applications/photoflow.app/Contents/MacOS/photoflow
Identifier:            uk.ac.soton.ecs.vips
Version:               ???
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           photoflow-bin [5522]
User ID:               501

Date/Time:             2019-09-06 09:

[2019-09-13 13:57] JohnAZoidberg opened #197 "FindLenses override removed in lensfun 0.3.95"
The override with two arguments was removed in https://github.com/lensfun/lensfun/commit/df8318c6979674ee968a52b4eb0c7ec1b2308e61
But this project is still using it, e.g. in https://github.com/aferrero2707/PhotoFlow/blob/stable/src/rt/rtengine/rtlensfun.cc#L472

This makes the project fail to build when not using the vendored lensfun lib.

[2019-09-15 18:04] aferrero2707 commented on #197
Thanks a lot for pointing this out, will look into that as soon as possible.

[2019-09-15 18:09] aferrero2707 commented on #196
v0.2.8 is rather old, and I am working to prepare a new one.

Could you try one of the latest development packages? For example https://github.com/aferrero2707/PhotoFlow/releases/download/continuous/photoflow-osx-20190802_1242-git-stable-898050de5365b502ec16f624f520a2b5c6822e9f.dmg

Thanks!

[2019-09-22 15:25] gaaned92 commented on #197
One solution is to use rawtherapee version. At least it permits to build with 0.3.95 version of MSYS2 or a self built lensfun from lensfun git.

[2019-10-11 19:06] gadolf66 opened #198 "Lens correction"
**Phf version:** new-caching-7adc6
**OS:** Ubuntu 18.04
**Camera:** EOS 5D I
**Actual lens:** EF 35-80 mm
**Chosen lens:** Canon EF 24-70 mm f/2.8L II USM
**Issue:**
After manually selecting an approximate lens model and select the _all corrections_ box, the image is cropped into proportion similar to 16:9, when the original is 4:3.
If I also select the _auto cropping_ box, then everything gets ba

[2019-10-11 19:08] gadolf66 commented on #193
This can be closed since after the changes proposed in the new caching mechanism branch the issue no longer happens.

[2019-10-11 19:08] #193 closed, assigned to nobody

[2019-10-12 11:29] aferrero2707 commented on #193
I am about to merge the `new-caching` branch into stable, so this will be finally fixed...

Thanks!

[2019-10-12 11:30] aferrero2707 commented on #198
@gadolf66 Would it be possible to provide a RAW sample image from the same camera and lens combination?
Thanks!

[2019-10-12 16:40] aferrero2707 commented on #194
@dustinkerstein I am going through the issues, after some time spent on heavy coding...

The linear_gamma branch is obsolete (I will delete it soon, as it has been merged into stable).
Could you try compiling the stable branch, and see if the problem persists? In which case, I would need the full cmake log, if possible.

[2019-10-12 16:40] aferrero2707 commented on #190
@yurivict bumping this thread to see if there are any news...

[2019-10-12 16:43] aferrero2707 commented on #189
There are no more warnings with clang from Apple LLVM version 10.0.1, therefore I am closing the issue.

[2019-10-12 16:43] #189 closed, assigned to nobody

[2019-10-12 16:44] dustinkerstein commented on #194
Thanks. I am able to compile the stable branch.

[2019-10-12 16:44] #194 closed, assigned to nobody

[2019-10-12 16:50] aferrero2707 commented on #182
@phweyland this issue and #181 should be much easier to prevent once the [simplified-pipeline](https://github.com/aferrero2707/PhotoFlow/tree/simplified-pipeline) branch will be merged into stable.

I am keeping this open for the moment, please hold on until the simplified-pipeline branch will be merged.

[2019-10-12 16:53] aferrero2707 commented on #178
@phweyland Still working on the non-ASCII character support under Windows, that's something I really don;t grasp yet.
Unfortunately I do not know if any simple way to disable the console messages, sorry...

[2019-10-12 16:59] #175 closed

[2019-10-12 17:00] aferrero2707 commented on #165
Closing since there were no reports of further problems.

[2019-10-12 17:00] #165 closed

[2019-10-12 17:02] aferrero2707 commented on #174
Closing since maintaining and testing the i386 compatibility is currently too much effort.

[2019-10-12 17:02] #174 closed

[2019-10-19 08:17] aferrero2707 commented on #197
@JohnAZoidberg I have committed a fix in the stable branch.

@gaaned92 the photoflow code already inherits from RT, but I have an additional piece that handles cases where the EXIF lens name does not match exactly the LF database. That's where the removed function was called...

[2019-10-20 11:28] HJarausch opened #199 "histogramm.cc no variable border_bottom"
The current GIT version fails to compile
#ifdef GTKMM_3
bool PF::HistogramArea::on_draw(const Cairo::RefPtr<Cairo::Context>& cr)
{
  int border_size = 2;
  Gtk::Allocation allocation = get_allocation();
  const int width = allocation.get_width() - border_size*2;
  const int height = allocation.get_height() - border_size - border_bottom;
======================================= >>> ^^^^^^^^^^^^^^  i

[2019-10-24 17:33] SilvioGrosso opened #200 "Photoflow crashes when you zoom out very fast on Windows 10 (64 bit)"
Hello,

I have tried on Windows 10 (64 bit) the version:
photoflow-w64-20191023_2016-git-stable-d646102fdbfc9a11ab7a22bda5fd4dff69f52498

It always crashes when you zoom out very fast on Windows: no matter what NEF D700 image I try.
I have thought this bug was fixed, hence my testing...
The backtrace is similar to the previous similar crash of mine with the Unsharp mask branch.

BTW, when you zoom

[2019-10-24 18:02] SilvioGrosso opened #201 "Lower part of the main GUIs not visualized on small monitor (13 inches) on Windows 10"
Hello,

On Windows 10 with:
photoflow-w64-20191023_2016-git-stable-d646102fdbfc9a11ab7a22bda5fd4dff69f52498

The bottom part of the main GUIs is not visualized on my Notebook monitor (around 13.3 inches).

I have tried everything I could think of to solve this problem.
For instance:
- Try to resize the border of the GUIs by dragging them;
- double click on the top bar to force a "redraw" of the GU

[2019-10-25 20:55] SilvioGrosso commented on #200
Tried the same steps on Linux too (Kubuntu 19.10 - KDE Desktop).
It works fine: No crash whatsoever when zooming out very fast.
Therefore, it is only Windows 10 (64 bit) which is concerned: good for us 👍

[2019-10-26 14:42] SilvioGrosso opened #202 "Photoflow crashes while opening and closing more images (Kubuntu 19.10)"
Hello,

Just installed PhotoFlow on Kubuntu 19.10 - KDE Desktop.
It is a Virtual Box machine (Windows 10 - 64 bit is the host) with 4 Gb of Ram and an Intel 7 CPU
I have downloaded yesterday's latest AppImage (25 october) to run PhotoFlow

Photoflow always crashes while opening more images and closing one of them no matter what images I try: nef, jpeg etc

You can download a ZIP with 2 different l

[2019-10-26 15:37] SilvioGrosso commented on #200
Just tested with the latest version: PhotoFlow HEAD-98caa (2019-10-25)
The crash is no longer present while zooming out fast on Windows 10 - 64 bit.
I close this bug as solved :-)

[2019-10-26 15:37] #200 closed, assigned to nobody

[2019-10-27 11:00] aferrero2707 commented on #202
The commit aea7072b2a152187674d90df4c2632b8e82e1470  in the stable branch should fix the issue.

@SilvioGrosso Could you please check the latest stable appimage?
Thanks!

[2019-10-27 11:13] SilvioGrosso commented on #202
Hello @aferrero2707

Sure! I am going to test it on my Virtual machine (Kubuntu 19.10 - KDE desktop).

I have already tried the most recent stable release on Windows 10 but on this system I have got no crash when closing more images.
It occured quite a lot in the past but now I can not reproduce this same crash.

Btw, I am a bit puzzled about the "correct" download to pick for Windows 10 (64 bit)

[2019-10-27 12:09] SilvioGrosso commented on #202
Hello @aferrero2707

Just tested the new AppImage (Kubuntu 19.10):
https://github.com/aferrero2707/PhotoFlow/releases/download/continuous/PhotoFlow-git-stable-20191026_2035-aea7072b2a152187674d90df4c2632b8e82e1470-x86_64.AppImage

There are so many files and it is *extremely* confusing to pick the right one...

Unfortunately the crash is still there. I am sorry about that...
It really takes a lot

[2019-10-27 12:35] SilvioGrosso commented on #202
Here is the ouput with another crash from gdb:
    Starting program: /home/silvio/Downloads/PhotoFlow-git-stable-20191026_2035-
    aea7072b2a152187674d90df4c2632b8e82e1470-x86_64.AppImage
    [Thread debugging using libthread_db enabled]
    Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
    [Detaching after fork from child process 4303]
    process 4299 is executing n

[2019-10-27 13:22] SilvioGrosso commented on #202
The good news is that on Windows 10 (64 bit) no crash occurs.!

You can open no matter what images (NEF, DNG, RAF etc) and close them without problems. They even open reasonably fast. Not as fast as Rawtherapee but it is overall good.
Tested on:
PhotoFlow HEAD-98caa (2019-10-25), that is
photoflow-w64-20191025_1532-git-enhanced-usm-98caa8232b35e5d577b850e66a4702c8837ec82d

[2019-10-28 01:12] BlueRidgeDog opened #203 "Compile help?"
After installing the dependencies, cmake hangs at the end Linking CXX executable photoflow with:
[code]
Compiling on Ubuntu 19.10 (Kubuntu).

[2019-10-29 23:09] aferrero2707 commented on #202
Hopefully some good news on this. I have just pushed to the stable branch an additional fix for the crash when closing tabs. I tested the code on MacOS and Linux and I could not trigger any crash, except when closing an image that is still being processed ( I am working to fix this as well).

Could you please check the latest AppImage package once it will be available (the build is ongoing at the

[2019-10-30 07:32] SilvioGrosso commented on #202
With the stable AppImage: 20191029_2321-4632257ab38f274995e56e49503417164402a88e-x86_64.
124 Mb, everything works much better!

I have tried to open many Raw images from Sony, Canon, Nikon and also some Dng images from smartphones.

It only crashed once BUT I think this is much more related to the fact that I am running PhotoFlow in a Virtual Machine with only 4 Gb of Ram (the host is Windows 10;

[2019-10-30 21:00] aferrero2707 commented on #202
Let's hope this bug is fixed once for all! I had to substantially modify the logic that deletes the images, now it is much cleaner.

Concerning the remaining crashes, 4GB of RAM should not be a problem at all.
I also observe the black image bug from time to time, but I could not look into it in detail yet.

I am closing this for now, please feel free to re-open the issue in case closing tabs crash

[2019-10-31 07:48] aferrero2707 commented on #203
Could you post the exact cmake command (or build command) that you have used?

[2019-10-31 10:07] BlueRidgeDog commented on #203
I used the "bash build.sh" provided.
I also tried:
`cd /home/jervin/Downloads/PhotoFlow-stable/build/src && /usr/bin/cmake -E cmake_link_script CMakeFiles/photoflow.dir/link.txt --verbose=1`
The final build ends up formulated as the following either way:
[code]
The full log of the build is attached.
[buillog.txt](https://github.com/aferrero2707/PhotoFlow/files/3793211/buillog.txt)

[2019-10-31 10:14] aferrero2707 commented on #199
@HJarausch the compilation issue should be now fixed in the stable branch (commit b4f3ba15b50c2f04d177b18dd9bbeaa40a82d9ba).

Could you please confirm?

Thanks!

[2019-10-31 12:56] aferrero2707 commented on #203
I am trying to understand what could be wrong. Will get back to you as soon as I have some idea...

[2019-10-31 17:15] HJarausch commented on #199
Yes, thanks!

[2019-10-31 19:23] #199 closed, assigned to nobody

[2019-10-31 19:36] aferrero2707 commented on #203
@BlueRidgeDog looks like there is some problem in retrieving the version information via git on your system. I have added default values for the version info variables, so that the `version.cc` file still gets properly generated.

Could you please try to update your local stable branch and re-build?

[2019-10-31 19:50] aferrero2707 commented on #201
@SilvioGrosso I have reduced the number of vertical tool icons, as this is the part of the UI that cannot be shrunk further. The window should now fit in your screen. I also need to reduce the vertical size of the image tabs, to gain some more vertical space...

Could you check the latest windows build from the stable branch?

[2019-10-31 20:31] SilvioGrosso commented on #202
Hello @aferrero2707

As you proposed, I open this issue once again because the crash is still alive and kicking, unfortunately....
In all truth, now it looks even much worse than in the past.
I have tried twice the whole procedure (open and closing) and in both cases PhotoFlow always crashed pretty soon.
As usual, it suffices to open some Raw images (Canon, Nikon, Sony) and close some of them.
Tes

[2019-10-31 20:35] aferrero2707 commented on #202
The fix is not yet in the enhanced-usm branch. Give me a little bit of time, and I will merge the changes there as well...

[2019-10-31 20:36] SilvioGrosso commented on #202
Yep, I have imagined that...No need to rush! :-)

    Il giovedì 31 ottobre 2019, 21:35:14 CET, aferrero2707 <notifications@github.com> ha scritto:

Reopened #202.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-31 20:39] aferrero2707 commented on #202
On the other hand, the stable branch is OK on Linux as well, right?

[2019-10-31 21:08] SilvioGrosso commented on #202
Yep. It looks stable.
No crash whatsoever while opening and closing the Raw images (kubuntu 19.10).
Previously, I have selected the wrong AppImage (USM enhance) because It looked like it was the newest one...

[2019-10-31 21:13] SilvioGrosso commented on #201
@aferrero2707

In all truth, IMHO, there is no a real need to solve this issue because it is "my fault" using such a small monitor with a graphical application!

I have reported this problem only because other GTK (Gimp etc) softwares work fine on this same notebook as regards their GUIs
Having said that, with the latest Windows version (photoflow-w64-20191031_1335-git-stable-b4f3ba15b50c2f04d177b

[2019-10-31 22:12] BlueRidgeDog commented on #203
Excellent.  It compiled fine.  Now to get VIPS to do the same...it compiles but fails its tests, appears to link to its own libjpeg vs my installed on.  I did not know this until PhotoFlow attempted to use vips to open a file!!  Pressing on.

[2019-10-31 22:49] SilvioGrosso opened #204 "Zooming out fast crashes PhotoFlow (Windows 10 plus Kubuntu 19.10)"
This crash was already present in the past but lately it looked as though it was fixed...

With the latest build on Windows 10 (photoflow-w64-20191031_1335-git-stable-b4f3ba15b50c2f04d177b18dd9bbeaa40a82d9ba) and the latest AppImage on Kubuntu 19.10 (Kde desktop) it is extremely easy to always crash PhotoFlow while zooming out fast.
No matter what image you try the crash always occur on both syste

[2019-11-01 07:26] SilvioGrosso commented on #201
I have checked again some GTK graphical softwares to really make sure they fit into my tiny monitor (13.3 inches; Full HD).

In short, PhotoFlow main windows fits into the screen as long as you work with only one image.
When you open more images their name takes an extra space in  the GUIs and its bottom part is no longer available. On Windows 10, if you try to work in this part of the GUIs you ev

[2019-11-03 10:50] SilvioGrosso opened #205 "Export an image with Tiff format turns into a jpeg format"
Hello,

As discussed on this forum:
https://discuss.pixls.us/t/enhanced-unsharp-mask-in-photoflow-please-test/14540/46

A Tiff format becomes Jpeg when you export an image.
This bug has been confirmed :-)

[2019-11-05 07:50] aferrero2707 commented on #202
I am closing this again since the last reported issue with closing tabs is not related to the stable branch.

[2019-11-05 07:50] #202 closed, assigned to aferrero2707

[2019-11-10 19:09] aferrero2707 commented on #203
@BlueRidgeDog any success? Is there anything I can do to help? If you are still struggling with VIPS you can post here the build error messages, I can have a look and see if I can figure out what is going wrong.

[2019-11-10 19:14] aferrero2707 commented on #205
@SilvioGrosso this should be fixed in the current stable branch. Pressing the "Export to..." button now pops up a file chooser dialog whose default file name has an extension that matches the selected file format. Previously ".jpg" was wrongly used in all cases.

Could you please confirm?
Thanks!

[2019-11-10 20:17] SilvioGrosso commented on #205
@aferrero2707

Yep. Now it works fine
Tested on Windows 10 with:
photoflow-w64-20191109_1805-git-stable-0172654e272c5b270586492435d86ec8b441580e
We can close this bug.

I have also noticed that the GUIs works much better on my small screen (13,3 inches).
This can be verified by opening more images in the row. Previously, with 2 or more images the bottom part of the GUIs was no longer visible on my

[2019-11-10 21:23] aferrero2707 commented on #204
@SilvioGrosso this was fixed in the `enhanced-usm` branch with commit 065c4c63ccb341219c1e46320d590846c5f34b49, but I forgot to port the fix to the `stable` branch as well. Now it should be fine.

Could you please confirm?
Thanks!

[2019-11-10 21:45] SilvioGrosso commented on #204
It is not entirely clear to me in which version it should be fine... :-)
This being said, with the stable version (Windows 10):
photoflow-w64-20191109_1805-git-stable-0172654e272c5b270586492435d86ec8b441580e
It is still extremely easy to crash PhotoFlow no matter what image you try. As usual, you only need to zoom out *very* fast.

BTW, why don't you work with a single branch?
Please, don't get me

[2019-11-10 22:11] SilvioGrosso commented on #204
Ok.
Just tested on Windows 10:
photoflow-w64-20191108_2139-git-enhanced-usm-8493d326c3b0714a815a167f234170071f659f43

It does not crash while zooming out very fast.
Tested several images.

[2019-11-10 23:26] #205 closed, assigned to nobody

[2019-11-10 23:35] aferrero2707 commented on #204
Reopening because the fix in the stable branch is not yet confirmed.

@SilvioGrosso could you also try with https://github.com/aferrero2707/PhotoFlow/releases/download/continuous/photoflow-w64-20191110_2200-git-stable-b75d36e275105cf7acf528d57dc84b5384919e22.zip?

Concerning the packages, I agree and I am setting up a mechanism to automatically clean up the release page and only keep the most rece

[2019-11-11 16:49] alexdupre opened #206 "PhotoFlow doesn't build with recent vips releases"
Many calls to `vips_image_get_blob` fail because the signature of the third parameter changed from `void **` to `const void **`:

[code]

[2019-11-11 17:26] SilvioGrosso commented on #204
Just tested your last ZIP Installer on Windows 10
No crash whatsoever while zooming out.
No problem when opening and closing many images consecutively.

Great work indeed! :-)

We can close this ticket now...

[2019-11-11 17:29] #204 closed, assigned to nobody

[2019-11-12 12:29] aferrero2707 commented on #206
@alexdupre I am working to fix this, I should be able to merge the new code in few hours.

[2019-11-12 22:10] aferrero2707 commented on #206
@alexdupre the compilation problem with recent VIPS versions should now be fixed in the stable branch. Could you please confirm?

Thanks!

[2019-11-13 09:25] alexdupre commented on #206
I confirm it worked, thanks!

[2019-11-13 09:25] #206 closed, assigned to aferrero2707

[2019-12-01 12:20] gadolf66 opened #207 "Feature request: dehaze and snapshots"
If it applies, I would like to suggest the creation of a new dehaze module and the ability to take snapshots.
Regarding snapshot, I thought it could be located above the histogram, as a new tab. In the new tab, you would have a button to take a new snapshot, and below it, a list of snapshots.
When you click on one snapshot, it overlays the current display, limited by a scrollable cursor,

[2019-12-04 09:03] gadolf66 commented on #207
Regarding de-hazing, I could get interesting results by using the slope, offset and power sliders, from the color correction module. (btw, this module shows as _color adjustments_ in the color menu),
Before:
![image](https://user-images.githubusercontent.com/46730249/70128384-750f6680-165b-11ea-8035-20afce5707e3.png)

After (a bit exagerated):
![image](https://user-images.githubusercontent.com/467

[2019-12-08 20:16] SilvioGrosso opened #208 "Photoflow crashes while unchecking Raw developer - RawLoader (Windows 10)"
Hello Andrea!

Photoflow, sooner or later, always crashes on Windows 10 (64 bit - home edition) while checking and unchecking the Raw developer and RawLoader buttons.
It suffices to open no matter what RAW imge and perform some basic operation. Afterwards you start checking and unchecking the first 2 buttons in the stack until Photoflow crashes.
Reproduced easily several times with different image

[2020-01-14 13:35] alexmyczko commented on #12
i have taken over the wnpp/rfp bug and will try to get this into debian ASAP:
http://sid.ethz.ch/debian/photoflow/ (wip)

[2020-01-14 14:21] alexmyczko commented on #203
here's a debian source package http://sid.ethz.ch/debian/photoflow/
i was able to build it for 20.04, don't have 19.10 to try, you tell me:

[code]

[2020-01-15 05:15] alexmyczko opened #209 "source tarball"
it's huge, is all of src/external/ needed?

darktable
exiv2
lensfun
librtprocess
rawspeed

I already have these on my system:
[code]

indeed dropping lensfun+exiv2 almost halfens the source tarball (+.xz instead of .gz)
http://phd-sid.ethz.ch/debian/photoflow/test/

[2020-01-22 17:40] aferrero2707 commented on #209
I have those packages in the external folder for cases where the system-supplied versions are too old. However, I can modify the CMake configuration such that the corresponding sources are downloaded from the network instead of being bundled. Let me look into this...

[2020-01-22 17:42] aferrero2707 commented on #203
@alexmyczko should I try to install the debian package you are providing, and check if photoflow runs correctly? Or is there any other action required from my side?

Thanks!!!

[2020-01-22 17:43] aferrero2707 commented on #12
@alexmyczko can we close this and continue the discussion in https://github.com/aferrero2707/PhotoFlow/issues/203?

[2020-01-22 17:48] alexmyczko commented on #203
can you install and test it? that would be great

[2020-01-22 17:51] aferrero2707 commented on #208
@SilvioGrosso I have been thinking a bit on this issue, and I personally concluded that it would be best to make such kind of layers "always visible", because it really makes no sense to hide one of them...

I will push a fix soon. Thanks!

[2020-01-22 17:59] aferrero2707 opened #210 "Implement editing snapshots"
Following a suggestion from https://github.com/aferrero2707/PhotoFlow/issues/207, it would be very useful to be able to save snapshots of the current editing status, so that changes can be easily reverted to a known "good" state.

[2020-01-22 18:01] aferrero2707 commented on #207
@gadolf66 sorry for the late answer, I am finally able to catch-up all the pending issues on the project, after a period of intense work...

Snapshots are an excellent idea, and actually rather easy to implement (as usual, the UI part will be the most difficult one...). I have created a dedicated issue (https://github.com/aferrero2707/PhotoFlow/issues/210) to follow this idea.

Regarding the dehaz

[2020-01-22 18:03] aferrero2707 commented on #201
@SilvioGrosso could you please give me a short update on this issue? Is the situation better with the latest UI layout, or is the required minimal vertical space still too much for your screen?

Thanks!

[2020-01-22 18:11] aferrero2707 commented on #203
Sure! I will initially test it in a Docker container, then we can discuss wether another test on a full Debian system is required or not...

[2020-01-22 21:27] SilvioGrosso commented on #201
Just tested the latest build (PhotoFlow_git_v0.3.0-rc1_w64_20200122_1844_c51c4) on Windows 10 on my *usual* Asus notebook
So far nothing to complain about the GUIs :-)
The bottom part of the tools (dustbin) is better handled now on my small screen.

[2020-01-24 13:36] Piraty commented on #209
Distributions usually don't want to build the bundled libraries but link instead against system libs (exception is when you rely on patched version of them).
If you have restrictions on libraries' versions, you'd check for them in your CMakeLists.txt.

Most portable is to detect (find_package et al) system libs and fallback to src/external.

Also [v0.2.8.tar.gz](https://github.com/aferrero2707/Pho

[2020-01-24 16:00] aferrero2707 commented on #209
@Piraty

This is what is being done for most of the external libraries, with the exception of RawSpeed which is always taken from `src/external`

[2020-01-24 16:06] aferrero2707 opened #211 "Lens corrections give different output on Windows"
It seems that the Windows version applies lens corrections that are different with respect to other systems. This might be related to the LensFun version and the associated database that is bundled in the Windows package.

A more precise test case will be posted here once available.

[2020-01-24 17:44] Piraty opened #212 "Update of bundled libraries"
Hi,

in order to address https://github.com/void-linux/void-packages/issues/18293, i ran into quite a few build errors.

Most i can address myself, but i refuse to backport all gcc8-compat patches librawspeed has up to now.
Please consider updating the bundled sources such as and cut a new release.

What i found out:
* bundled librawspeed fails to build with gcc>=8
* exiv2-0.27.2 has header `<exiv

[2020-01-27 07:47] alexmyczko commented on #209
the main issue packaging software for debian (+ubuntu) is writing the debian/copyright file, in the worst case it can be this large:

https://metadata.ftp-master.debian.org/changelogs//main/c/colmap/colmap_3.6+dev2+git20191105-1_copyright

the less code, authors, files, licenses, the easier...

[2020-01-27 09:08] Piraty commented on #209
i don't know about debian's tooling, but grabbing licenses (and ideally hashing the files to detect changes in new versions) is not the hard part here...

[2020-01-27 10:19] alexmyczko commented on #209
true, writing the initial debian/copyright file, in a way it passes debian NEW queue, is the PITA,

[2020-02-01 17:07] aferrero2707 commented on #209
@alexmyczko @Piraty
Is there anything I can do to help? I am really not a debian package expert...

[2020-02-01 17:08] aferrero2707 commented on #201
I am closing this for the moment, please feel free to re-open in case the UI becomes unusable again on small screens.

Thanks!

[2020-02-01 17:08] #201 closed, assigned to aferrero2707

[2020-02-01 17:11] alexmyczko commented on #209
no worries i am almost done missing cc-headache licenses and mit

[2020-02-01 19:40] #209 closed, assigned to aferrero2707

[2020-02-01 20:20] Piraty commented on #209
I can't tell you anything about debian, but in relation to this issue, i opened #212.

[2020-02-02 09:07] gotaalv opened #213 "Batch mode not working"
Hello,
I've compiled on Linux (Mint 19.2) current release (a0d24). I'm using VIPS libvips 8.5.7 `from deb http://ppa.launchpad.net/dhor/myway/ubuntu bionic main` (Dariusz Duma <dhor@toxic.net.pl>)

I'm using this raw file: https://discuss.pixls.us/t/help-needed-to-showcase-photoflow-features-at-lgm2019/11722/10
The commands I have tested are:
+ ${PHOTOFLOW_BIN} --batch --config=size.pfp --export-o

[2020-02-02 20:31] aferrero2707 commented on #213
@gotaalv I confirm an issue with the batch processing. I am looking into it.

[2020-02-02 22:13] aferrero2707 commented on #213
@gotaalv the batch processing should be working again now in the stable branch, could you please confirm?

Thanks!

[2020-02-07 20:18] gotaalv commented on #213
I confirm, it works!
Thanks

[2020-02-08 18:03] #213 closed, assigned to nobody

[2020-02-08 18:06] aferrero2707 opened #214 "Make the histogram dockable"
Same mechanism used for the samplers: double-click on the tab label to move the histogram into a separate dialog, for better visibility.

[2020-02-12 08:17] aferrero2707 commented on #214
Implemented with commit 660d99a90e66243bd9298d436e38131b112495ee.

[2020-02-12 08:17] #214 closed, assigned to aferrero2707

[2020-03-05 10:45] aoloe opened #215 "State of Libre Graphics 2020"
The [Libre Graphics Meeting 2020](https://libregraphicsmeeting.org/2020/) is happening at the end of May in Rennes!

As usual, the first conference will be the State of Libre Graphics, where we will give an overview of what has happened during the last year in the world of Libre Graphics.

You're very welcome to submit two slides for your project. They will be presented by the moderator of the _St

[2020-04-30 06:27] alexmyczko opened #217 "Building fails on non x86/amd64 architectures"
Please find details here: https://buildd.debian.org/status/package.php?p=photoflow&suite=sid

[2020-07-05 02:38] tnargs opened #218 "Crash report (MacOS)"
I just installed latest Photoflow on MacOS and now it crashes on startup. I am not tech-savvy, so just providing the crash report for information. cheers

[PhotoFlow crash report.pdf](https://github.com/aferrero2707/PhotoFlow/files/4874325/PhotoFlow.crash.report.pdf)

[2020-07-20 12:37] aferrero2707 commented on #218
@tnargs sorry for the late answer, I was away for some days... which macOS version are you using?

[2020-07-20 13:05] tnargs commented on #218
Hi @aferrero2707 macOS 10.15.5. Some more detail in the crash report I submitted. cheers

[2020-08-07 01:27] everyxnewxday opened #219 "Consistent crash on selecting a film emulation stock"
Just installed PhotoFlow for the first time today and am really excited with the possibilities! Unfortunately, I'm experiencing a crash every time I select a film stock from the dropdown in the Film Emulation module. Happens every time, with every image type I've tried (raw photos, tifs, and pngs). Happens whether there are other modules below the Film emulation module or not. I tried changing pro

[2020-08-07 01:44] everyxnewxday commented on #219
Sorry, I'm kind of new to this stuff and just noticed the running log in the terminal window if I start the app with the photoflood exec file.

Last login: Thu Aug  6 21:13:56 on ttys000
-bash: {rtf1ansiansicpg1252cocoartf1671cocoasubrtf500: command not found
-bash: /Users/nateweatherly/.profile: line 2: syntax error near unexpected token `}'
-bash: /Users/nateweatherly/.profile: line 2: `{\fonttb

[2020-08-09 16:31] Benitoite commented on #218
I'm also getting this in Big Sur 11ß`20A5343i`
[code]
It looks like some libraries are expecting something possibly present in `libpng.16.16.dylib` which is not in the `/System` `libPng.dylib`, somehow not having being linked to the proper version.

[2020-08-10 06:29] aferrero2707 commented on #218
@tnargs @Benitoite I assume you are installing the package from the v0.2.8 release... if you take the daily snapshots of the stable branch from [here](https://github.com/aferrero2707/PhotoFlow/releases/tag/continuous) (which are actually even more reliable than the latest release) there should be no problem with missing symbols, and it should run fine on recent macOS versions...

[2020-09-22 21:48] yurivict opened #220 "error: called object type 'unsigned int' is not a function or function pointer"
[code]

Log: http://beefy18.nyi.freebsd.org/data/head-amd64-default/p549547_s365984/logs/photoflow-0.2.8.20200828.log (IPv6 URL)

Revision 8472024f
FreeBSD 12.2
clang-10

[2020-09-25 17:51] yurivict commented on #220
You've bundled the old GMIC, version 1.7.1, when the latest GMIC is 2.9.2. clang-10 breaks on GMIC-1.7.1.

Could you please allow to use the external GMIC because it is packaged for virtually all systems: https://repology.org/project/gmic/versions

[2020-10-05 12:39] alexmyczko commented on #217
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=968412 a patch is available there

[2020-10-27 08:37] dim162 opened #221 "Rule's menu of collect images modules out of windows"

[2020-10-27 08:40] #221 closed, assigned to nobody

[2020-12-27 03:40] gigglylo opened #223 "readme.md: arch linux installation guide: 'pacman' instead of 'packman'"
Maybe I miss something. But I'm pretty sure it's 'pacman' instead of 'packman'

[2021-03-04 08:07] alexmyczko opened #225 "build problem with gcc 11?"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=984294

[2021-03-17 20:47] ComputingFroggy commented on #178
running meld from git bash window I am still affected by this bug, any workaround  to fix it ?

[2021-04-01 23:31] SeaMac commented on #218
Version 0.2.8 - Crash upon Launch ... Mac OS X 10.13.6

Version PhotoFlow_git_stable_macos_20200828_1714_84720.dmg Appears to Work OK on same OS.

Thank you.

[2021-11-06 19:42] abnormally-distributed opened #226 "Is this project still active?"
Are there plans to continue development of this program?

[2021-12-18 00:36] moolight-seashell opened #227 "error compiling on manjaro vips/cimg_funcs.h"
/home/jean-raphael/Téléchargements/PhotoFlow/src/operations/denoise.cc:30:10: erreur fatale: vips/cimg_funcs.h : Aucun fichier ou dossier de ce type
   30 | #include <vips/cimg_funcs.h>
      |          ^~~~~~~~~~~~~~~~~~~
compilation terminée.
make[2]: *** [src/CMakeFiles

[2022-01-07 12:06] #225 closed, assigned to nobody

[2022-01-07 12:09] #217 closed, assigned to nobody

[2022-07-27 12:16] FAb7D opened #228 "appimage font"
Non riuscendo a compilare a causa del bug [https://github.com/aferrero2707/PhotoFlow/issues/227] ho provato a usare l'appimage che però si apre ma senza i font (su Solus) e dà questi messaggi:
`Image processor started.
locale dir: /tmp/.mount_QtYcQ4/usr/bin/../share/locale
Gtk-Message: Failed to load module "atk-bridge"
Gtk-Message: Failed to load module "appmenu-gtk-module"
Gtk-Message: Failed to